In [3]:

import mysql.connector as connector

# Establish connection to the database
connection = connector.connect(
    user="ll_admin",
    password="L1ttl3L3m0n!2023",
    db="LittleLemonDB"
)

# Create a cursor object to interact with the database
cursor = connection.cursor()

In [4]:
# Query to show all tables in the database
show_tables_query = "SHOW TABLES"

# Execute the query
cursor.execute(show_tables_query)

# Fetch all results
results = cursor.fetchall()

# Print the tables
print("Tables in the Little Lemon database:")
for table in results:
    print(table[0])

Tables in the Little Lemon database:
Bookings
Customers
MenuItems
Menus
OrderDeliveryStatus
Orders
ordersview
StaffInformation

In [12]:
import mysql.connector as connector

# Establish connection
try:
    connection = connector.connect(
        user="ll_admin",
        password="L1ttl3L3m0n!2023",
        db="LittleLemonDB"
    )
    cursor = connection.cursor()
    
     # Correct query using your actual column names
    promo_query = """
    SELECT 
        c.FullName,
        c.Email, 
        c.ContactNumber AS Phone,
        o.TotalCost
    FROM 
        Customers c
    INNER JOIN 
        Orders o ON c.CustomerID = o.CustomerID
    WHERE 
        o.TotalCost > 60
    ORDER BY 
        o.TotalCost DESC
    """
    
    # Execute the query
    cursor.execute(promo_query)
    promo_results = cursor.fetchall()
    
    # Print results
    if promo_results:
        print("\nCustomers for promotional campaign (orders > $60):")
        print("{:<30} {:<30} {:<20} {:<10}".format("Name", "Email", "Phone", "Total"))
        print("-" * 90)
        for customer in promo_results:
            print("{:<30} {:<30} {:<20} ${:<10.2f}".format(
                customer[0], customer[1], customer[2], customer[3]
            ))
    else:
        print("\nNo customers found with orders > $60")
        
except Exception as e:
    print(f"Error: {e}")
finally:
    if 'cursor' in locals():
        cursor.close()
    if 'connection' in locals():
        connection.close()

No customers found with orders > $60